<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<!--
`ev-icons` is a utility for defining and loading custom svg icons into your website or application.

To load an icon from the `ev-icons` set, import the code as follows:

    <link rel="import" href="../ev-icons/ev-icons.html">

To use an icon from one of these the `ev-icons`, first prefix your `iron-icon` with the icon set name, followed by a colon, ":", and then the icon id.
for example to use the info icon from the ev-icons set:

    <iron-icon icon="ev-icons:info"></iron-icon>

See [iron-icon](https://www.webcomponents.org/element/PolymerElements/iron-icon) for more information about working with icons.
See [iron-iconset](https://www.webcomponents.org/element/PolymerElements/iron-iconset) and [iron-iconset-svg](https://www.webcomponents.org/element/PolymerElements/iron-iconset-svg)
for more information about how to create a custom iconset.

@polymer
@pseudoElement ev-icons
@demo demo/index.html
-->
<iron-iconset-svg name="ev-icons" size="24">
  <svg>
    <defs>
      <g id="info">
        <circle cx="12.3" cy="7" r="2"></circle>
        <path d="M14.8,17.5h-0.5v-7c0-0.3-0.2-0.5-0.5-0.5H9.3c-0.3,0-0.5,0.2-0.5,0.5V11c0,0.3,0.1,0.5,0.5,0.5h1v6h-1
          c-0.3,0-0.5,0.2-0.5,0.5v0.5c0,0.3,0.2,0.5,0.5,0.5h5.5c0.4,0,0.5-0.2,0.5-0.5V18C15.3,17.7,15.1,17.5,14.8,17.5z"></path>
      </g>
      <g id="calculator">
        <path d="M3,1v22h18V1H3z M7,20H5v-2h2V20z M7,16H5v-2h2V16z M7,12H5v-2h2V12z M11,20H9v-2h2V20z M11,16H9v-2h2V16z M11,12H9v-2h2V12
        z M15,20h-2v-2h2V20z M15,16h-2v-2h2V16z M15,12h-2v-2h2V12z M19,8H5V3h14V8z M19,20h-2v-2h2V20z M19,16h-2v-2h2V16z M19,12h-2v-2h2
        V12z"></path>
      </g>
      <g id="exclamation">
        <path d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M13.5,18h-3v-3h3V18z M13.5,13h-3 V6h3V13z"></path>
      </g>
      <g id="close">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
      </g>
      <g id="popover-close">
        <path fill="#666666" transform="translate(16, 16)" d="M10.1,8L14,4.1c0.4-0.4,0.4-1,0-1.4L13.3,2c-0.4-0.4-1-0.4-1.4,0L8,5.9L4.1,2c-0.4-0.4-1-0.4-1.4,0L2,2.7 c-0.4,0.4-0.4,1,0,1.4L5.9,8L2,11.9c-0.4,0.4-0.4,1,0,1.4L2.7,14c0.4,0.4,1,0.4,1.4,0L8,10.1l3.9,3.9c0.4,0.4,1,0.4,1.4,0l0.7-0.7 c0.4-0.4,0.4-1,0-1.4L10.1,8z"/>
      </g>
      <g id="popover-close-light">
        <path transform="translate(16, 16)" d="M10.1,8L14,4.1c0.4-0.4,0.4-1,0-1.4L13.3,2c-0.4-0.4-1-0.4-1.4,0L8,5.9L4.1,2c-0.4-0.4-1-0.4-1.4,0L2,2.7 c-0.4,0.4-0.4,1,0,1.4L5.9,8L2,11.9c-0.4,0.4-0.4,1,0,1.4L2.7,14c0.4,0.4,1,0.4,1.4,0L8,10.1l3.9,3.9c0.4,0.4,1,0.4,1.4,0l0.7-0.7 c0.4-0.4,0.4-1,0-1.4L10.1,8z"/>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
<iron-iconset-svg name="ev-icons-large" size="32">
  <svg>
    <defs>
      <g id="initialize">
        <path d="M14.14,24.93c0.09-0.04,0.16-0.1,0.23-0.2c0.39-0.74,0.73-1.34,1.03-1.82c0.44,0.03,0.83,0.04,1.18,0.01
        l1.17,1.92c0.04,0.08,0.12,0.13,0.23,0.15c0.11,0.03,0.21,0.02,0.3-0.02l2.45-1.01c0.1-0.04,0.17-0.11,0.22-0.2
        c0.05-0.09,0.06-0.19,0.05-0.28l-0.53-2.13c0.26-0.22,0.56-0.52,0.9-0.9c0.25,0.05,0.6,0.14,1.04,0.27
        c0.44,0.13,0.76,0.21,0.94,0.26c0.11,0.03,0.21,0.02,0.29-0.01c0.24-0.1,0.68-1.02,1.33-2.78c0.03-0.12,0.03-0.22-0.01-0.32
        c-0.04-0.11-0.11-0.18-0.2-0.23l-1.82-1.07c0.03-0.44,0.04-0.82,0-1.16l1.9-1.14c0.08-0.04,0.14-0.12,0.18-0.23
        c0.03-0.11,0.03-0.21-0.01-0.31l-1.02-2.46c-0.08-0.2-0.24-0.29-0.48-0.26c-0.45,0.06-1.17,0.24-2.16,0.54
        c-0.28-0.33-0.56-0.61-0.84-0.84l0.56-2.01c0.03-0.11,0.02-0.22-0.02-0.32c-0.07-0.17-0.47-0.41-1.21-0.72
        c-0.74-0.31-1.28-0.51-1.63-0.6c-0.1-0.03-0.2-0.03-0.3,0.02c-0.08,0.03-0.15,0.1-0.23,0.2c-0.39,0.74-0.73,1.34-1.03,1.82
        c-0.44-0.04-0.83-0.04-1.18-0.01l-1.17-1.92c-0.04-0.08-0.12-0.13-0.23-0.15c-0.11-0.03-0.21-0.02-0.3,0.01l-2.44,1.01
        c-0.1,0.04-0.17,0.11-0.22,0.2c-0.05,0.09-0.06,0.18-0.03,0.28l0.51,2.14c-0.29,0.24-0.59,0.55-0.89,0.91
        c-0.25-0.06-0.61-0.16-1.06-0.29c-0.46-0.13-0.77-0.21-0.92-0.25c-0.11-0.03-0.21-0.02-0.29,0.01c-0.24,0.1-0.68,1.02-1.33,2.78
        c-0.03,0.12-0.03,0.22,0.01,0.32c0.05,0.11,0.11,0.19,0.2,0.23l1.82,1.07c-0.03,0.44-0.03,0.83,0,1.16l-1.9,1.14
        c-0.08,0.05-0.14,0.12-0.18,0.23c-0.03,0.11-0.03,0.21,0.01,0.31l1.02,2.46c0.08,0.2,0.25,0.29,0.48,0.27
        c0.46-0.07,1.18-0.25,2.17-0.54c0.25,0.31,0.53,0.59,0.83,0.85l-0.56,2.01c-0.03,0.11-0.02,0.22,0.02,0.32
        c0.07,0.17,0.47,0.4,1.22,0.71c0.74,0.31,1.29,0.51,1.63,0.6C13.94,24.97,14.03,24.97,14.14,24.93L14.14,24.93z M14.6,19.38
        c-0.93-0.39-1.59-1.05-1.98-1.98c-0.39-0.93-0.39-1.87,0-2.8c0.39-0.93,1.05-1.6,1.98-1.98c0.93-0.39,1.87-0.39,2.8,0
        c0.93,0.39,1.59,1.05,1.98,1.98c0.39,0.93,0.39,1.87,0,2.8c-0.39,0.93-1.05,1.59-1.98,1.98C16.47,19.77,15.53,19.77,14.6,19.38
        L14.6,19.38z M14.6,19.38"/>
        <path class="st0" d="M29,16c0-7.18-5.82-13-13-13c-3.59,0-6.84,1.45-9.19,3.8l1.06,1.06C9.95,5.79,12.83,4.5,16,4.5
          c6.35,0,11.5,5.15,11.5,11.5h-2.2l2.95,2.95L31.2,16H29z"/>
        <path class="st0" d="M24.14,24.13c-2.08,2.08-4.96,3.37-8.14,3.37C9.65,27.5,4.5,22.35,4.5,16h2.2l-2.95-2.95L0.8,16H3
          c0,7.18,5.82,13,13,13c3.59,0,6.84-1.46,9.2-3.81L24.14,24.13z"/>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
<iron-iconset-svg name="ev-icons-extra-large" size="48">
  <svg>
    <defs>
      <g id="large-play-arrow">
        <polygon points="42,24 16,46 16,2 " />
      </g>
      <g id="popover-close">
        <rect fill="none" width="48" height="48" x="0" y="0"></rect>
        <path fill="#666666" transform="translate(16, 16)" d="M10.1,8L14,4.1c0.4-0.4,0.4-1,0-1.4L13.3,2c-0.4-0.4-1-0.4-1.4,0L8,5.9L4.1,2c-0.4-0.4-1-0.4-1.4,0L2,2.7 c-0.4,0.4-0.4,1,0,1.4L5.9,8L2,11.9c-0.4,0.4-0.4,1,0,1.4L2.7,14c0.4,0.4,1,0.4,1.4,0L8,10.1l3.9,3.9c0.4,0.4,1,0.4,1.4,0l0.7-0.7 c0.4-0.4,0.4-1,0-1.4L10.1,8z"/>
      </g>
      <g id="popover-close-light">
        <rect fill="none" width="48" height="48" x="0" y="0"></rect>
        <path transform="translate(16, 16)" d="M10.1,8L14,4.1c0.4-0.4,0.4-1,0-1.4L13.3,2c-0.4-0.4-1-0.4-1.4,0L8,5.9L4.1,2c-0.4-0.4-1-0.4-1.4,0L2,2.7 c-0.4,0.4-0.4,1,0,1.4L5.9,8L2,11.9c-0.4,0.4-0.4,1,0,1.4L2.7,14c0.4,0.4,1,0.4,1.4,0L8,10.1l3.9,3.9c0.4,0.4,1,0.4,1.4,0l0.7-0.7 c0.4-0.4,0.4-1,0-1.4L10.1,8z"/>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
