<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="ev-shadow-icons" size="32">
  <svg>
    <defs>
      <g id="food-and-drink">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M32,16.5l-9.8-9.8L20.7,14l-5.9-7.9l-0.3,1.7l-1.8-1.8l0,2l-2-2l-0.1,1.9L8.8,6.1l-0.1,7.1l1.9,3.6l0.1,9 l6.1,6.1C25.1,31.6,31.7,24.8,32,16.5z"></path>
        <g style="fill: #ffffff">
          <path d="M20.5,6C19.1,6,18,7.2,18,9v7h2v8c0,1.2,0.5,2,1.5,2s1.5-0.8,1.5-3V8C23,7.2,21.9,6,20.5,6z"></path>
          <path d="M14.5,6C14.2,6,14,6.2,14,6.5V12c0,0.6-0.2,1-0.5,1S13,12.6,13,12V6.5C13,6.2,12.8,6,12.5,6 S12,6.2,12,6.5V12c0,0.6-0.2,1-0.5,1S11,12.6,11,12V6.5C11,6.2,10.8,6,10.5,6S10,6.2,10,6.5V12c0,0.6-0.2,1-0.5,1S9,12.6,9,12V6.5 C9,6.2,8.8,6,8.5,6S8,6.2,8,6.5v7.4c0,1.2,1.1,2.1,2,2.2V24c0,1.2,0.5,2.1,1.4,2.1c1,0,1.6-0.9,1.6-2.1v-7.9c1,0,2-1,2-2.2V6.5 C15,6.2,14.8,6,14.5,6z"></path>
        </g>
      </g>
      <g id="clothing">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M31.8,18.2L18.7,5.1L14,5.5l-0.6,2.8l2.4,4.8l-8.8,7.1l-0.2,3.1l8.8,8.8c0.1,0,0.2,0,0.3,0 C24.1,32,30.8,26,31.8,18.2z"></path>
			  <path style="fill: #ffffff" d="M24.9,18.6l-7.9-6V11c0-0.6-0.4-1-1-1c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2c0,0.6,0.4,1,1,1s1-0.4,1-1 c0-2.2-1.8-4-4-4s-4,1.8-4,4c0,1.9,1.3,3.4,3,3.9v0.8l-7.9,6c-1,0.8-1.4,2.1-1,3.3c0.4,1.2,1.5,2,2.8,2H23c1.3,0,2.4-0.8,2.8-2 C26.3,20.7,25.9,19.4,24.9,18.6z M24,21.3C23.9,21.5,23.7,22,23,22H9c-0.7,0-0.9-0.5-0.9-0.7s-0.2-0.7,0.3-1.1l7.7-5.8l7.7,5.8 C24.2,20.6,24.1,21.2,24,21.3z"></path>
      </g>
      <g id="household-bills">
        <g style="fill: rgba(0, 0, 0, 0.2)">
          <path d="M31.1,21.1L26,16L15.5,9.7L6,16l4.6,3.6L9,25l6.4,7c0.2,0,0.4,0,0.6,0C23,32,29,27.5,31.1,21.1z"></path>
          <path d="M32,16c0-1.2-0.1-2.3-0.4-3.4L25,6v6.6l6.7,6.7C31.9,18.2,32,17.1,32,16z"></path>
        </g>
        <g style="fill: #ffffff">
          <polygon points="25,12.6 25,6 21,6 21,8.6"></polygon>
          <path d="M16,6L6,16h3v9h14v-9h3L16,6z M17,16v2h-2v2h4v2h-7v-2h1v-2h-1v-2h1v-1c0-1.9,1.1-3.5,3-3.5 c1.6,0,2.3,0.5,3.3,1.8L18.6,15c-0.8-1.3-1.8-1.6-2.5-1.4c-0.7,0.3-1.1,1.1-1.1,1.9V16H17z"></path>
        </g>
      </g>
      <g id="healthcare">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M21.3,31.1c5.6-2,9.8-7,10.5-13.1l-9.1-9.1l-0.8,6.2l-8.5-8.5l-4.9,3l-2,4l9.7,9.7L15.3,25L21.3,31.1z"></path>
			  <path style="fill: #ffffff" d="M23,19c-1.7,0-3,1.3-3,3c0,0.4,0.1,0.8,0.3,1.2c-0.7,0.5-1.4,0.8-2,0.8c-1.4,0-2-0.4-2.3-2.2 c0.7-0.3,1.3-1,1.6-1.9c3.7-1.8,6.7-5.7,6.4-8.3c-0.3-2.3-2.1-3.7-4.1-4.2C19.6,6.5,18.9,6,18,6c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2 c0.6,0,1.2-0.3,1.5-0.7c1.3,0.4,2.3,1.2,2.5,2.5c0.2,1.9-3.3,6.2-7.1,7c-3.8-0.8-7.1-5.1-6.9-7c0.1-1.3,1.1-2.1,2.5-2.5 C10.8,9.7,11.4,10,12,10c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2c-0.8,0-1.5,0.5-1.8,1.2C8,7.7,6.3,9.1,6,11.5c-0.3,2.7,2.6,6.7,6.3,8.4 c0.3,0.9,0.9,1.5,1.6,1.8c0.3,2.2,1.1,4.2,4.3,4.2c1.4,0,2.6-0.7,3.4-1.3c0.4,0.2,0.9,0.3,1.3,0.3c1.7,0,3-1.3,3-3S24.7,19,23,19z M23,23c-0.6,0-1-0.4-1-1s0.4-1,1-1s1,0.4,1,1S23.6,23,23,23z"></path>
      </g>
      <g id="public-transport">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M23.2,8.2l-4.9-1.6l-5.5,0l-3.9,4.1l-2.7,6.7l2.2,2.2l-0.3,6.2l6,6C14.8,32,15.4,32,16,32 c8.5,0,15.5-6.7,16-15.1L23.2,8.2z"></path>
			  <path style="fill: #ffffff" d="M26,14.8c0-0.5-0.4-1.2-0.9-1.3c-0.2,0-0.5,0-0.5,0s-0.5-2.3-0.6-3.6c-0.2-1.3-0.9-2-2-2.4 c-0.6-0.2-1.3-0.3-1.9-0.5C19.9,6.1,19.5,6,18.7,6c-0.9,0-4.8,0-5.5,0c-0.7,0-1.2,0.1-1.3,0.9c-0.7,0.2-1.3,0.3-1.9,0.5 C8.9,7.9,8.2,8.6,8,9.9c-0.2,1.3-0.6,3.6-0.6,3.6s-0.3,0-0.5,0C6.4,13.6,6,14.3,6,14.8c0,0.7,0,1.4,0,2.1c0,0.6,0.4,0.8,1,0.8V22 c0,0.7,0.5,1.5,1,1.7v1.8C8,25.8,8.2,26,8.5,26h3c0.3,0,0.5-0.2,0.5-0.5V24h8v1.5c0,0.3,0.2,0.5,0.5,0.5h3c0.3,0,0.5-0.2,0.5-0.5 v-1.8c0.7-0.2,1-0.9,1-1.7v-4.3c0.6,0,1-0.2,1-0.8C26,16.2,26,15.5,26,14.8z M13.7,7C14,7,18,7,18.3,7C18.7,7,19,7.1,19,7.5 C19,7.9,18.7,8,18.4,8c-0.8,0-4.2,0-4.7,0C13.3,8,13,7.9,13,7.5C13,7.1,13.3,7,13.7,7z M11,22c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2 s2,0.9,2,2C13,21.1,12.1,22,11,22z M10.2,17c-0.8,0-1.2-0.3-1.1-1.2c0.1-1.3,0.3-2.7,0.5-4c0.1-0.5,0.4-0.9,0.8-1.1 c0.7-0.2,1.4-0.5,2.1-0.6c1.1-0.1,2.1-0.2,3.2-0.2c1.2,0,2.7,0.1,3.7,0.2c0.7,0.1,1.4,0.3,2.1,0.6c0.5,0.2,0.8,0.6,0.8,1.1 c0.2,1.3,0.3,2.7,0.5,4c0.1,0.8-0.3,1.2-1.1,1.2C20.9,17,11.1,17,10.2,17z M21,22c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2 C23,21.1,22.1,22,21,22z"></path>
      </g>
      <g id="home-improvements">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M32,16c0-0.2,0-0.4,0-0.6l-8.2-8.2l-2.6,0.7l-3.3,6l-4-0.6l-6.1,6.8l11.5,11.5C26.5,30.1,32,23.7,32,16z"></path>
			  <path style="fill: #ffffff" d="M23.4,6.9c-1.1-0.7-2.7-0.4-3.4,0.7c-0.7,1.1-0.7,2.8-1.2,4c-0.7,1.6-3,1.8-5.6,0.4c-1.4,2.8-3.4,5.8-5.4,8.2 l1.9,1.2c0.8-0.1,1.9-0.9,2.3-1.7c0,1-0.4,1.8-1.1,2.5l3.6,2.3c0.5-0.5,0.9-0.8,1.3-1.1c-0.3,0.5-0.4,1.1-0.5,1.7l2.1,1.4 c1.3-2.4,3.7-6.1,5.4-8.2c-2.3-1.9-3-4.1-1.8-5.4c0.9-0.9,2.4-1.6,3.1-2.6C24.9,9.2,24.5,7.6,23.4,6.9z M20.5,18.7l-1.3,2.1 l-6.9-4.5l1.3-2.1L20.5,18.7z M22,10c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1c0.6,0,1,0.4,1,1C23,9.6,22.6,10,22,10z"></path>
      </g>
      <g id="leisure-and-hobbies">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M25,10l-11.3,3.2l-1.5,5.5L11,17.5l-3.4,3.4l0.6,0.6l-1.5,1l9.5,9.5c8.4-0.1,15.2-6.7,15.7-15L25,10z"></path>
        <g style="fill: #ffffff">
          <path d="M14,20.1V14l11-4L12,5v15.1c-1.2,0.2-2,0.8-2,1.4c0,0.8,1.3,1.5,3,1.5s3-0.7,3-1.5C16,20.8,15.2,20.3,14,20.1z"></path>
          <path d="M16,17c-0.3,0-0.7,0-1,0v2.3c1.3,0.4,2,1.2,2,2.2c0,1.4-1.7,2.5-4,2.5s-4-1.1-4-2.5c0-1,0.7-1.8,2-2.2v-1.8 c-3,0.7-5,2-5,3.5c0,2.2,4.5,4,10,4s10-1.8,10-4C26,18.8,21.5,17,16,17z M20,23c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2 C22,22.1,21.1,23,20,23z"></path>
        </g>
      </g>
      <g id="car-maintenance">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M17.9,6.7l-0.3,3.8L16,9l-4,0.5l-1.6,3.7L9.1,12l-2.4,1.7L9,16l-2.2,2.2L6,23l2,2l-0.7,0.7l6.1,6.1 c0.9,0.1,1.7,0.2,2.7,0.2c8.8,0,16-7.2,16-16c0-0.9-0.1-1.8-0.2-2.7l-7.1-7.1L17.9,6.7z"></path>
        <g style="fill: #ffffff">
          <path d="M9.1,12H6.9c-0.3,0-0.5,0.2-0.5,0.5V13c0,0.9,1,1.1,1.7,1.1L9.1,12z"></path>
          <path d="M26,17c0-1.2-0.9-2-2.1-2H10.2l2.1-5H16V9h-4.5l-2.8,6H8.1C6.9,15,6,15.8,6,17v6h1v2 c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1v-2h10v2c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1v-2h1V17z M10,21c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2 s2,0.9,2,2C12,20.1,11.1,21,10,21z M17.5,20h-3c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5h3c0.3,0,0.5,0.2,0.5,0.5 C18,19.8,17.8,20,17.5,20z M22,21c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C24,20.1,23.1,21,22,21z"></path>
          <path d="M24,6h-6c-0.6,0-1,0.4-1,1v6c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1V7C25,6.4,24.6,6,24,6z M23.5,13.1 c-0.2,0-0.4-0.1-0.5-0.2l-2.5-2.5c-0.2-0.2-0.4-0.3-0.6-0.2c-0.5,0-0.9-0.1-1.3-0.5c-0.3-0.3-0.5-0.7-0.5-1.1c0-0.2,0-0.3,0.1-0.5 l1,1c0.5,0.1,1.2-0.6,1.1-1.1l-1-1c0.2,0,0.3-0.1,0.5-0.1c0.4,0,0.8,0.2,1.1,0.5c0.3,0.3,0.5,0.8,0.5,1.3c0,0.2,0.1,0.5,0.2,0.6 l2.5,2.5c0.1,0.1,0.2,0.3,0.2,0.5C24.3,12.7,23.9,13.1,23.5,13.1z"></path>
        </g>
      </g>
      <g id="gifts">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M19.6,7.6l-2.5,3.2l-3.4-3.4l-3.2-0.1l-1.7,3l2.5,2.5L6,16l3.7,3.7L8,26l5.8,5.8c0.7,0.1,1.4,0.2,2.2,0.2 c8.8,0,16-7.2,16-16c0-0.2,0-0.4,0-0.6l-8.7-8.7L19.6,7.6z"></path>
			  <path style="fill: #ffffff" d="M15,26H8v-9h7V26z M15,12H6v4h9V12z M17,26h7v-9h-7V26z M17,12v4h9v-4H17z M21.4,6 c-2.9,0-4.7,3.5-5.4,5c0,0,3.3,0,5.3,0C24.8,11,24.9,6,21.4,6z M20.6,9.6h-2c0.7-1.1,1.4-2,2.3-2C22,7.7,22.1,9.6,20.6,9.6z M10.7,11c2.1,0,5.3,0,5.3,0c-0.7-1.5-2.4-5-5.4-5C7.1,6,7.2,11,10.7,11z M11.1,7.7c0.9,0,1.6,0.8,2.3,2h-2C9.9,9.6,10,7.7,11.1,7.7 z"></path>
      </g>
      <g id="treats">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M25,11l-0.7,0.5l-5.5-5.5l-4.4,0.4l-1.8,5.7l-4.4,0.5L6,25l6.6,6.6c1.1,0.2,2.2,0.4,3.4,0.4 c8.2,0,14.9-6.2,15.9-14.1L25,11z"></path>
			  <path style="fill: #ffffff" d="M25,11h-5l0-1.9C20,7,18.5,5.2,16.4,5C13.9,4.8,12,6.5,12,9v2H7L6,25h20L25,11z M14,9 c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2v2h-4V9z M16,23c-2.2-1.4-3-2.7-3-3.7c0-2,2.5-2.2,3-0.9c0.5-1.4,3-1.1,3,0.9 C19,20.3,18.2,21.6,16,23z M8.6,16L9,13l3,0c0,0,0,0,0,0c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1c0,0,4,0,4,0c0,0.6,0.4,1,1,1 c0.6,0,1-0.4,1-1h0h3l0.4,3H8.6z"></path>
      </g>
      <g id="holidays">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M32,16c0-0.4,0-0.8-0.1-1.1l-8.6-8.6L11.9,8.8l2.9,2.9l-5.7-1.2l-3,9.2l12.2,12.2C26.1,30.7,32,24,32,16z"></path>
			  <path style="fill: #ffffff" d="M9.4,9.5c1.1,0.3,11.7,3.1,15.9,4.2c0.4,0.1,0.6,0.4,0.6,0.7c0,0.1,0,0.2,0,0.2c-0.7,3-1.6,5.9-2.4,8.8 c-0.1,0.4-0.4,0.6-0.7,0.6c-0.1,0-0.2,0-0.2,0c-5.3-1.3-10.6-2.8-15.9-4.2C6.2,19.8,6,19.5,6,19.2c0-0.1,0-0.2,0-0.2 c0.7-3,1.6-5.9,2.4-8.8C8.5,9.7,8.9,9.5,9.4,9.5 M7.8,18.6l14.3,3.8l1.9-7.2c-4-1.1-14.3-3.8-14.3-3.8C9.1,13.8,8.5,16.2,7.8,18.6 M21.2,21.4l0.2-0.8l-2.2-0.6L19,20.9L21.2,21.4L21.2,21.4z M17.1,20.3l0.8,0.2l0.4-1.4L17.4,19L17.1,20.3L17.1,20.3z M21.8,19.2 l0.2-0.8l-2.2-0.6l-0.2,0.8L21.8,19.2L21.8,19.2z M11.1,16.3l1.8-0.7l-1.7-1.7l0.6-0.2l2.8,1.2l1.4-0.6c0.4-0.2,1-0.1,1.1,0.2 c0,0,0,0.1,0,0.1c0,0.3-0.3,0.6-0.6,0.8L15,16.1l-1.2,2.8l-0.6,0.2l0.1-2.3l-1.8,0.7l-0.4,0.8l-0.4,0.2l0-1.3l-0.9-1l0.4-0.2 L11.1,16.3L11.1,16.3z M17.6,18.2l0.8,0.2l0.4-1.6l-0.8-0.2L17.6,18.2L17.6,18.2z M22.1,17.8l0.2-0.8l-2.3-0.6l-0.2,0.8L22.1,17.8 L22.1,17.8z M22.5,16.4l0.2-0.8L20.5,15l-0.2,0.8L22.5,16.4L22.5,16.4z M18.3,15.8l0.8,0.2l0.4-1.4l-0.8-0.2L18.3,15.8L18.3,15.8z M11.9,8.8C15.5,7.9,19,7,22.5,6c0.1,0,0.2,0,0.2,0c0.4,0,0.6,0.2,0.8,0.6c0.6,1.9,1.1,3.8,1.6,5.7l-1.9-0.5l-1.1-4l-6.9,1.8 L11.9,8.8L11.9,8.8z"></path>
      </g>
      <g id="restaurants">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M23.8,10.6l-0.7,0.6l-4.2-4.2l-1.4,1.9l-2.6-2.6l-1.5,1l3,3l0,0.1l2.5,2.5l-1.8,0.4l-1.7-1.4l-8.6,0.3L7,15.6 l2.9,2.1l-0.8,6.3l-3-0.2l7.9,7.9c0.6,0.1,1.3,0.1,2,0.1c8,0,14.6-5.8,15.8-13.5L23.8,10.6z"></path>
        <g style="fill: #ffffff">
          <path d="M16.5,10.4c-0.4-0.2-0.2-1.8,0.2-2.8c0.1-0.4,0.3-0.7,0.6-0.9c0.5-0.3,1.1-0.1,1.1-0.1 c0.4,0.1,0.8,0.5,0.9,0.9c0,0.4-0.5,0.9-1.7,1.5C16.3,9.8,16.6,10.5,16.5,10.4z"></path>
          <path d="M15.4,9.1c0.4-0.1,0.1-1.4-0.2-2.3c-0.1-0.3-0.3-0.6-0.5-0.7c-0.4-0.3-0.9-0.1-0.9-0.1 c-0.3,0.1-0.7,0.4-0.7,0.8c0,0.3,0.4,0.7,1.4,1.3C15.5,8.7,15.2,9.2,15.4,9.1z"></path>
          <path d="M26,23.7c-0.1-0.2-0.3-0.3-0.5-0.3L23.3,24l-1.3-5.5c2.3-0.8,3.7-3.2,3.1-5.7c-0.2-0.9-0.6-1.6-1.2-2.2l-8.1,2 c-0.2,0.8-0.3,1.6-0.1,2.5c0.6,2.4,2.9,4,5.3,3.6l1.3,5.5l-2.2,0.5c-0.2,0.1-0.3,0.3-0.3,0.5c0.1,0.2,0.3,0.3,0.5,0.3l5.3-1.3 C25.9,24.2,26,24,26,23.7z M21.3,17.6l-0.4,0.1c-0.2,0-0.4,0-0.5,0c-1.8,0-3.3-1.2-3.7-2.9c-0.1-0.3-0.1-0.5-0.1-0.8h7.6 c0,1.6-1,3-2.5,3.5L21.3,17.6z"></path>
          <path d="M15.4,11.8l-8.2-1.4c-0.5,0.6-0.9,1.4-1,2.3c-0.4,2.5,1.1,4.8,3.5,5.4l-1,5.6l-2.3-0.4c-0.2,0-0.4,0.1-0.5,0.3 c0,0.2,0.1,0.4,0.3,0.5l5.4,0.9c0.2,0,0.4-0.1,0.5-0.3c0-0.2-0.1-0.4-0.3-0.5l-2.3-0.4l1-5.6c2.4,0.2,4.7-1.5,5.1-4 C15.8,13.4,15.7,12.6,15.4,11.8z M14.7,14.1c-0.3,1.8-1.9,3.2-3.7,3.2c-0.1,0-0.2,0-0.3,0l-0.4,0l-0.4-0.1c-1.8-0.5-3-2.3-2.8-4.1 h7.5C14.7,13.4,14.8,13.8,14.7,14.1z"></path>
        </g>
      </g>
      <g id="other">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M31.9,17.7L23.1,9L9,9l0.2,14.3l8.6,8.6C25.2,31.1,31.1,25.2,31.9,17.7z"></path>
			  <path style="fill: #ffffff" d="M16,6C10.5,6,6,10.5,6,16c0,5.5,4.5,10,10,10s10-4.5,10-10C26,10.5,21.5,6,16,6z M20.3,22.3 L16,20l-4.3,2.3l0.9-4.8L9,14l4.9-0.7L16,9l2.1,4.4L23,14l-3.5,3.4L20.3,22.3z"></path>
      </g>
      <g id="ev-tick" viewBox="0 0 18 18">
        <path style="fill: rgba(0, 0, 0, 0.2)" d="M18,15.5V8.9l-3.7-3.7l-7.6,7.6l5.2,5.2h3.7C16.9,18,18,16.9,18,15.5z"></path>
        <path style="fill: #ffffff" d="M14.3,5.2c-0.5-0.5-1.2-0.5-1.7,0l-5,5L5.7,8.4c-0.5-0.5-1.2-0.5-1.7,0s-0.5,1.2,0,1.7l2.7,2.7 c0.3,0.3,0.7,0.4,1.1,0.3c0.2,0,0.5-0.2,0.7-0.3l5.9-5.9C14.7,6.5,14.7,5.7,14.3,5.2z"></path>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
