<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="ev-media" size="24">
  <svg>
    <defs>
      <g id="play-arrow">
        <path d="M8 5v14l11-7z"></path>
      </g>
      <g id="pause">
        <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path>
      </g>
      <g id="replay">
        <path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"></path>
      </g>
      <g id="volume-off">
        <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"></path>
      </g>
      <g id="volume-up">
        <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path>
      </g>
      <g id="fullscreen">
        <polygon points="9,5 5,5 5,9 6.65,7.35 9.21,9.91 9.91,9.21 7.35,6.65"/>
        <polygon points="15,5 16.65,6.65 14.09,9.21 14.79,9.91 17.35,7.35 19,9 19,5"/>
        <polygon points="14.79,14.09 14.09,14.79 16.65,17.35 15,19 19,19 19,15 17.35,16.65"/>
        <polygon points="9.21,14.09 6.65,16.65 5,15 5,19 9,19 7.35,17.35 9.91,14.79"/>
      </g>
      <g id="fullscreen-exit">
        <polygon points="5.91,9.91 9.91,9.91 9.91,5.91 8.27,7.56 5.71,5 5,5.71 7.56,8.27 	"/>
        <polygon points="18.09,9.91 16.44,8.27 19,5.71 18.29,5 15.73,7.56 14.09,5.91 14.09,9.91"/>
        <polygon points="18.29,19 19,18.29 16.44,15.73 18.09,14.09 14.09,14.09 14.09,18.09 15.73,16.44"/>
        <polygon points="5.71,19 8.27,16.44 9.91,18.09 9.91,14.09 5.91,14.09 7.56,15.73 5,18.29"/>
      </g>
      <g id="subtitles">
        <path d="M18,0H2C0.9,0,0,0.9,0,2v11c0,1.1,0.9,2,2,2h2v5l5-5h9c1.1,0,2-0.9,2-2V2C20,0.9,19.1,0,18,0z M9,7h2v1H9V7z
           M3,7h5v1H3V7z M6,11H3v-1h3V11z M17,11H7v-1h10V11z M17,8h-5V7h5V8z"/>
      </g>
      <g id="subtitles-off">
        <path d="M12,7.71V7h5v1h-4.71l2,2H17v1h-1.71l3.72,3.72C19.6,14.37,20,13.73,20,13V2c0-1.1-0.9-2-2-2H4.29L12,7.71z"/>
        <path d="M18.24,16.79L1.4-0.06l-1.41,1.41l0.1,0.1C0.04,1.63,0,1.81,0,2v11c0,1.1,0.9,2,2,2h2v5l5-5h4.63l3.2,3.2
          L18.24,16.79z M6.63,8H3V7h2.63L6.63,8z M6,11H3v-1h3V11z M7,11v-1h1.63l1,1H7z"/>
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
