<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>ev-icons demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-meta/iron-meta.html">
    <link rel="import" href="../../iron-icon/iron-icon.html">

    <link rel="import" href="../ev-icons.html">
    <link rel="import" href="../media-icons.html">
    <link rel="import" href="../ev-shadow-icons.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <custom-style>
      <style is="custom-style">
        :root {
          --ev-icon-fill: #FFF;
          --ev-icon-shadow: rgba(0, 0, 0, 0.2);
        }

        h2 {
          text-transform: capitalize;
        }

        iron-icon {
          transition: all 0.2s;
          -webkit-transition: all 0.2s;
        }

        iron-icon:hover {
          fill: #d27c21;
          --ev-icon-fill: #d27c21;
        }

        .set {
          display: block;
          text-align: center;
          margin: auto;
          padding: 1em 0;
          border-bottom: 1px solid silver;
        }

        .container {
          display: inline-block;
          width: 10em;
          margin: 1em 0.5em;
          text-align: center;
        }

        .container > div {
          margin-top: 0.5em;
          color: black;
          font-size: 10px;
        }
      </style>
    </custom-style>

    <dom-bind id="scope">
      <template is="dom-bind">
        <template is="dom-repeat" id="iconsetRepeat">
          <h2>{{item.name}}</h2>
          <div class="set">
            <template is="dom-repeat" items="{{getIconNames(item)}}">
              <span class="container">
                <iron-icon icon="{{item}}"></iron-icon>
                <div>{{item}}</div>
              </span>
            </template>
          </div>
        </template>
      </template>
    </dom-bind>

    <script>
      window.addEventListener('WebComponentsReady', () => {
        scope.getIconNames = (iconset) => {
          return iconset.getIconNames();
        };

        scope.parentNode.getIconNames = scope.getIconNames;
        iconsetRepeat.items = new Polymer.IronMeta({type: 'iconset'}).list;
      });
    </script>
  </body>
</html>
